<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a class="nav-link" href="{{ path('_app_profile') }}">Home <span class="sr-only">(current)</span></a>
                {% else %}
                    <a class="nav-link" href="{{ path('_home') }}">Home <span class="sr-only">(current)</span></a>
                {% endif %}
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                {% include "common/admin-menu.html.twig" %}
            {% endif %}
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
        <ul class="navbar-nav float-right m-auto">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li>
                    <p>
                        Email: {{ app.user.email }}
                        <a href="/logout" class="red-color">Logout {{ icon_service.logoutIcon() | raw }}</a>
                    </p>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('app_login') }}">Login {{ icon_service.loginIcon('pruebo') | raw }}</a>
                </li>
            {% endif %}

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <ul>
            <li>
                <a href="{{ path('_set_locale', {'locale': 'en' } ) }}"><img src="{{ asset('build/flags/16/United Kingdom(Great Britain).png') }}" alt="England flag"></a></li>
            <li>
                <a href="{{ path('_set_locale', {'locale': 'es'} ) }}"><img src="{{ asset('build/flags/16/Spain.png') }}" alt="Spain flag"></a></li>
            <li>
                <a href="{{ path('_set_locale', {'locale': 'de'} ) }}"><img src="{{ asset('build/flags/16/Germany.png') }}" alt="Germany flag"></a>
            </li>
        </ul>
    </div>
</nav>