{% extends 'base.html.twig' %}
{% block title %}Users list{% endblock %}
{% block body %}
    {% include "common/header.html.twig" %}
    <div class="container mt-3">
        <a href="{{ path('_add_user') }}">{% set new = "new" %}{{ new|trans|capitalize }}</a>
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans %}firstname{% endtrans %}</th>
                    <th>{% trans %}lastname{% endtrans %}</th>
                    <th>{% trans %}email{% endtrans %}</th>
                    <th>{% set role = "role" %}{{ role|trans|capitalize }}</th>
                    <th>{% set editlabel = "edit" %}{{ editlabel|trans|capitalize }}</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% for role in user.roles %}
                            {{ role }}
                            {% endfor %}
                        </td>
                        <td>
                            {% if user.id == 1 %}
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <a href="{{ path('_edit_user', {'id': user.id }) }}">{{ icon_service.editIcon() | raw }}</a>
                                {% endif %}
                            {% else %}
                                <a href="{{ path('_edit_user', {'id': user.id }) }}">{{  icon_service.editIcon() | raw }}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include "common/footer.html.twig" %}
{% endblock %}