{% extends 'base.html.twig' %}
{% block title %}Users list{% endblock %}
{% block body %}
    {% include "common/header.html.twig" %}
    <div class="container mt-3">
        <a href="{{ path('_add_user') }}">New</a>
        <table class="table">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>E-mail</th>
                    <th>Role</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% for role in user.roles %}
                            {{ role }}
                            {% endfor %}
                        </td>
                        <td>
                            {% if user.id == 1 %}
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <a href="{{ path('_edit_user', {'id': user.id }) }}">{{ edit | raw }}</a>
                                {% endif %}
                            {% else %}
                                <a href="{{ path('_edit_user', {'id': user.id }) }}">{{ edit | raw }}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include "common/footer.html.twig" %}
{% endblock %}